<div class="h-full w-full flex items-center justify-center lg:hidden">
  <div class="flex w-full md:w-4/5 h-10 items-center justify-start mx-2 md:mx-4">
    <div class="flex items-center justify-center h-full w-full bg-white rounded-xl shadow-sm">      
          <a routerLink="/authentication" class="mx-1 bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl h-3/4 w-3/4  flex items-center justify-center text-center md:mx-3">
            <i class="bi bi-person-square text-xl text-primary"></i>            
          </a>               
          <a routerLink="/authentication" class="mx-1 bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl h-3/4 w-3/4  flex items-center justify-center text-center">
            <i class="bi bi-gear-wide text-xl text-primary"></i> 
          </a>
          <a routerLink="/authentication" class="mx-1 bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl h-3/4 w-3/4 flex items-center justify-center text-center md:mx-3">
            <i class="bi bi-box-arrow-in-left text-xl text-primary"></i>
          </a>
    </div>    
  </div>
</div>

<div class="hidden h-full w-60 lg:grid lg:grid-rows-6">
  <div class="row-start-2 row-end-4 flex justify-center items-center">
    <div class="bg-white w-full h-full mr-5 rounded-2xl shadow-sm flex justify-center items-center">
      <div class="flex flex-col justify-between items-center h-5/6 w-full">
        <h1 class="w-4/6 h-1/6 mx-5  flex items-center justify-center">Olá Vinicius</h1>
        <a routerLink="/authentication" class="bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl w-4/6 h-1/6 mx-5 flex items-center justify-center">
          <i class="bi bi-person-square text-xl text-primary"></i> 
        </a>
        <a routerLink="/authentication" class="bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl w-4/6 h-1/6 mx-5 flex items-center justify-center">
          <i class="bi bi-gear-wide text-xl text-primary"></i> 
        </a>
        <a routerLink="/authentication" class="bg-gray-50 text-sm border border-gray-500 border-opacity-20 rounded-xl w-4/6 h-1/6 mx-5 flex items-center justify-center">
          <i class="bi bi-box-arrow-in-left text-xl text-primary"></i>
        </a>
      </div>
    </div>
  </div>
</div>
