<div *ngIf="!isAccountSettingsActive" class="w-full h-full">
  <div class="h-full w-full flex items-center justify-start lg:hidden">

    <app-account-main (accountSettingsToggled)="toggleAccountSettings($event)" class="w-full h-full flex items-center"></app-account-main>
  </div>

  <div class="hidden lg:h-full lg:w-72 lg:grid lg:grid-rows-6">
    <div class="row-start-2 row-end-4 flex justify-start items-start">

      <app-account-main (accountSettingsToggled)="toggleAccountSettings($event)" class="w-full h-full"></app-account-main>
    
    </div>
  </div>
</div>


<div *ngIf="isAccountSettingsActive" class="w-full h-full">
  <div class="h-full w-full flex items-center  lg:hidden">

    <app-account-settings (accountSettingsToggled)="toggleAccountSettings($event)" class="w-full h-full flex items-center"></app-account-settings>
  </div>

  <div class="hidden lg:h-full lg:w-72 lg:grid lg:grid-rows-6">
    <div class="row-start-2 row-end-4 flex justify-start items-start">

      <app-account-settings (accountSettingsToggled)="toggleAccountSettings($event)" class="w-full h-full"></app-account-settings>
    </div>
  </div>
</div>