<nav class="flex items-center justify-center flex-wrap">
  <app-slide-nav-bottom [activeSlide]="activeSlide" *ngIf="activeSlide" class="w-full sm:w-15/16"></app-slide-nav-bottom>
  <div 
    class="bg-white-50 h-16 w-full mb-1 flex items-center justify-center rounded-2xl"
    [ngClass]="{
      'rounded-tl-none rounded-tr-none rounded-br-2xl rounded-bl-2xl': activeSlide === 'credits' || activeSlide === 'settings',
      'rounded-xl': activeSlide !== 'credits' && activeSlide !== 'settings'
    }"
  >
    <div class="h-full flex justify-between items-center mx-2 w-11/12">
      <button 
        (click)="toggleSlide('settings')" 
        [ngClass]="{'bg-white shadow-sm': activeSlide === 'settings', 'bg-transparent': activeSlide !== 'settings'}"
        class="h-10 w-10 rounded-2xl"
      >
        <i class="bi bi-menu-button-wide text-primary text-2xl"></i>
      </button>
      
      <button 
        (click)="toggleSlide('new')" 
        [ngClass]="{'bg-white shadow-sm': activeSlide === 'new', 'bg-transparent': activeSlide !== 'new'}"
        class="w-12 h-12 border-2 border-primary border-dotted flex items-center justify-center text-3xl text-primary rounded-2xl"
      >
        <i class="bi bi-plus"></i>
      </button>
      <button 
        (click)="toggleSlide('credits')" 
        [ngClass]="{'bg-white shadow-sm': activeSlide === 'credits', 'bg-transparent': activeSlide !== 'credits'}"
        class="h-10 w-10 rounded-xl"
      >
        <i class="bi bi-globe text-primary text-2xl"></i>
      </button>
    </div>
  </div>
</nav>
