<nav class="h-screen flex items-center w-32">
  <div class="bg-white-50 h-15/16 flex flex-col justify-around items-center rounded-xl w-full">
    <app-site-title></app-site-title>
    
    <button routerLink="/authentication">
      <i class="bi bi-person-fill text-primary text-3xl"></i>
    </button>

    <button>
      <i class="bi bi-search text-primary text-2xl"></i>
    </button>

    <button class="w-16 h-16 border-2 border-primary border-dotted flex items-center justify-center text-4xl text-primary rounded-2xl">
      +
    </button>

    <button>
      <i class="bi bi-menu-button-wide text-primary text-3xl"></i>
    </button>
    <button>
      <i class="bi bi-globe text-primary text-3xl"></i>
    </button>
  </div>
</nav>

