<div class="w-full h-full flex justify-center ">

  <div class="w-15/16 flex flex-col justify-center items-center mb-28 xxs:w-8/12 sm:w-96">
    <div class="flex items-end mb-14">
      <img src="/air-in-logo.png" class="h-14" alt="">
      <h1 class="text-lg text-gray-700">Register</h1>
    </div>

    <form 
      (ngSubmit)="onSubmit()" 
      class="w-full h-96 flex flex-col justify-around" 
      (input)="validateForm()"
    > 
      <label for="username">
        <h3><p class="text-xs text-start ml-3 text-gray-700">Username</p></h3>
        <input 
          [(ngModel)]="inputUsername"
          name="username"
          id="username" 
          type="text" 
          class="focus:outline-primary w-full h-12 rounded-2xl bg-gray-50 border-2 border-gray-500 border-opacity-20">
      </label>

      <label for="password">
        <h3><p class="text-xs text-start ml-3 text-gray-700">Password</p></h3>
        <input 
          [(ngModel)]="inputPassword"
          name="password"
          id="password" 
          type="password" 
          class="focus:outline-primary w-full h-12 rounded-2xl bg-gray-50 border-2 border-gray-500 border-opacity-20">
      </label>

      <label for="confirm password">
        <h3><p class="text-xs text-start ml-3 text-gray-700">Confirm Password</p></h3>
        <input 
          [(ngModel)]="inputPasswordConfirm"
          name="confirmPassword"
          id="confirm password" 
          type="password" 
          class="focus:outline-primary w-full h-12 rounded-2xl bg-gray-50 border-2 border-gray-500 border-opacity-20">
      </label>

      <label for="remember-me" class="flex items-center ml-2">
        <input 
          [(ngModel)]="inputRememberMe"
          name="remember-me"
          id="remember-me" 
          type="checkbox" 
          class="mr-2">
        <p class="text-xs text-gray-700">Remember-me</p>
      </label>

      <div *ngIf="successMessage" class="text-green-500 text-sm mb-4">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
        {{ errorMessage }}
      </div>

      <button 
        type="submit" 
        [disabled]="!isFormValid" 
        class="focus:outline-primary w-full h-14 rounded-2xl bg-gray-50 border-2 border-gray-500 border-opacity-20">
      <p class="text-start text-sm ml-3 text-gray-700">Submit</p></button>
    </form>
  </div>
</div>