<nav class="flex items-center justify-center flex-wrap">
  <div class="bg-white-50 h-16 w-full mt-1 flex items-center justify-center rounded-2xl">
    <div 
      class="flex justify-between items-center mx-2 sm:mx-4 w-full h-full"
    >
      <div class="flex items-center justify-center">
        <app-site-title></app-site-title>
      </div>
      
      <button routerLink="/"
              class="w-14 rounded-xl h-20">
        <i class="bi bi-arrow-left text-primary text-2xl"></i>
      </button>
    </div>
  </div>
</nav>