<div class="h-full w-full flex items-center justify-start lg:hidden">
  <div class="flex w-full h-auto items-center justify-center lg:hidden">
    <div class="flex flex-col items-center justify-around h-full w-full m-2 bg-white-50 rounded-xl shadow-sm sm:w-5/6">      
      <div class="flex justify-center items-end mb-1 mt-2">
        <a href="https://github.com/vinifen" target="_blank" class="mr-9">
          <i class="bi bi-github text-2xl text-primary"></i>
        </a>
        <a href="www.linkedin.com/in/viniciusfn" target="_blank">
          <i class="bi bi-linkedin text-2xl text-primary"></i>
        </a> 
      </div>
      <small class="text-primary mb-2">by Vinifen 2025</small>
    </div>    
  </div>
</div>

<div class="hidden lg:h-full lg:w-80 lg:grid lg:grid-rows-6">
  <div class="row-start-6 flex justify-start items-start">
    <div class="bg-white-50 w-15/16 rounded-2xl shadow-sm flex flex-col justify-center items-center">
      <div class="flex justify-center items-end my-1 h-5/6  w-5/6">
          <a href="https://github.com/vinifen" target="_blank" class="mr-8" rel="noopener noreferrer">
            <i class="bi bi-github text-2xl text-primary"></i>
          </a>
          <a href="https://linkedin.com/in/viniciusfn/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin text-2xl text-primary"></i>
          </a>
      </div>
      <small class="text-primary mb-2">by Vinifen 2025</small>
    </div>
  </div>
</div>
  

