<nav class="h-screen flex items-center">
  <div class="bg-white-50 h-15/16 grid grid-rows-6 justify-items-center items-start w-28" 
    [ngClass]="{'rounded-2xl': !activeSlide, 'rounded-tr-none rounded-br-none rounded-tl-2xl rounded-bl-2xl': activeSlide}"
  >
    <div class="w-full h-full flex items-center justify-center">
      <app-site-title></app-site-title>
    </div>

    <button (click)="toggleSlide('account')" 
            routerLink="/authentication"
            [ngClass]="{'bg-white-50 shadow-sm': activeSlide === 'account', 'bg-transparent': activeSlide !== 'account'}"
            class="h-14 w-14 rounded-xl">
      <i class="bi bi-person-fill text-primary text-3xl"></i>
    </button>

    <button (click)="toggleSlide('search-bar')" 
            [ngClass]="{'bg-white-50 shadow-sm': activeSlide === 'search-bar', 'bg-transparent': activeSlide !== 'search-bar'}"
            class="h-14 w-14 rounded-xl">
            <i class="bi bi-search text-primary text-2xl"></i>
    </button>

    <button (click)="toggleSlide('new')" 
            [ngClass]="{'bg-white-50 shadow-sm': activeSlide === 'new', 'bg-transparent': activeSlide !== 'new'}"
            class="w-14 h-14 border-2 border-primary border-dotted flex items-center justify-center text-4xl text-primary rounded-2xl">
      <i class="bi bi-plus text-primary text-3xl"></i>
    </button>

    <button (click)="toggleSlide('settings')" 
            [ngClass]="{'bg-white-50 shadow-sm': activeSlide === 'settings', 'bg-transparent': activeSlide !== 'settings'}"
            class="h-14 w-14 rounded-xl flex items-center justify-center">
      <i class="bi bi-menu-button-wide text-primary text-3xl"></i>
    </button>

    <button (click)="toggleSlide('credits')" 
            [ngClass]="{'bg-white-50 shadow-sm': activeSlide === 'credits', 'bg-transparent': activeSlide !== 'credits'}"
            class="h-14 w-14 rounded-xl">
      <i class="bi bi-globe text-primary text-3xl"></i>
    </button>
  </div>

  <app-slide-sidenav [activeSlide]="activeSlide" *ngIf="activeSlide" class="h-15/16"></app-slide-sidenav>

</nav>

