<div 
  class="grid h-screen w-screen bg-cover bg-center grid-rows-[auto_1fr_auto] lg:grid lg:grid-cols-[auto_1fr] lg:items-center"
  style="background-image: url('/background-air-in.png');"
>
    <app-sidenav-home-lg 
      *ngIf="isLgScreen" 
      class="lg:h-screen lg:ml-4 lg:col-start-1"
    ></app-sidenav-home-lg>
    
    <app-nav-top-home-sm 
      *ngIf="!isLgScreen" 
      class="row-start-1"
    ></app-nav-top-home-sm>
    
    <app-main-home 
      class="row-start-2 lg:row-start-auto lg:col-start-2 lg:mx-4 lg:flex h-full"
    ></app-main-home>
    
    <app-nav-bottom-home-sm 
      *ngIf="!isLgScreen" 
      class="row-start-3"
    ></app-nav-bottom-home-sm>
</div>
