<div class="h-full w-full flex items-center justify-center lg:flex-none lg:justify-normal lg:items-start lg:grid lg:grid-rows-6 lg:w-80">
  <div class="flex items-start justify-center w-15/16 lg:row-start-3 lg:h-full">
    <div class="bg-white-50 shadow-sm h-10 w-full flex items-center rounded-2xl justify-center lg:w-full lg:h-14">
      <input 
        (input)="sendInput($event)" 
        [(ngModel)]="inputValue"  
        type="text" 
        name="search-bar"
        placeholder="Search your cities" 
        autofocus
        class="focus:outline-primary mx-1 text-sm rounded-xl bg-gray-50 border-2 h-8 border-gray-500 border-opacity-20 w-full lg:h-9 lg:rounded-xl"
      >
    </div>
  </div>
</div>
