
<div class="flex w-full h-auto items-center justify-center lg:hidden">
  <div class="flex flex-col items-center justify-center h-full w-full bg-white-50 m-2 rounded-xl shadow-sm sm:w-5/6">  
    <h1 class="flex items-center justify-center w-full h-6 text-primary">Settings</h1>  
    <div class="flex items-start w-full h-full">  
      <button 
        (click)="toggleDeleteMode()"
        class="bg-gray-50 text-sm border-2 border-gray-500 border-opacity-20 rounded-xl mb-3 mt-1 ml-2 h-9 w-2/6 flex items-center justify-center text-center md:w-48 md:h-10"
      >
        <i class="bi bi-trash text-xl text-primary"></i>            
        <p class="text-primary">Delete Cities</p>
      </button>   
    </div>            
  </div>    
</div>


<div class="hidden bg-white-50 w-15/16 h-52 rounded-2xl shadow-sm lg:flex justify-center items-center">
  <div class="w-5/6 h-full flex flex-col justify-center items-center">
    <h1 class="flex items-center justify-center w-full h-13 text-primary">Settings</h1>
    <div class="h-full flex items-center w-full">
      <button 
        (click)="toggleDeleteMode()" 
        class="bg-gray-50 text-sm border-2 border-gray-500 border-opacity-20 rounded-xl h-10 flex items-center justify-center w-full"
      >
        <i class="bi bi-trash text-xl  text-primary"></i> 
        <p class="text-primary">Delete Cities</p>
      </button>
    </div>
  </div>
</div>
  

