/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, input {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
}

input {
  text-indent: 0.5rem;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  height: calc(var(--vh, 1vh) * 100);
}


