<div class="flex flex-col justify-center items-center w-full h-full">
  <div class="w-full h-full rounded-2xl flex flex-col lg:h-15/16 lg:w-full">
    <div class="h-full w-full relative">
      <!-- Área de Conteúdo com Rolagem -->
      <div class="absolute top-0 h-full w-full overflow-y-auto">
        <div class="flex flex-wrap justify-start items-start w-full">
          <div
            *ngFor="let ctWtData of weatherData$; let i = index"
            class="w-2/4 md:w-2/6 lg:w-1/4 h-80"
          >
            <div class="bg-white-50 mr-2 h-full">
              <p> {{ ctWtData.content.name }} </p>
              <p> {{ ctWtData.content.weather[0].description }} </p>
              <p> {{ ctWtData.content.main.temp }} </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Área do Rodapé -->
      
      
    </div>
  </div>
</div>


